 #Course {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
background:#F7F8F8;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel0 {
padding-right:8;
padding-left:8;
halign:LEFT;
height:44;
background:#00a1ea;
layout:hbox;
width:fill;
valign:center;
}
 #imagebutton0 {
width:44;
icon-width:44;
icon-height:44;
height:44;
font-size:10;
icon-background-image:icon_home.png;
icon-pressed-image:button_image_touch;
icon-text-spacing:3;
}
 #label0 {
halign:left;
height:20;
weight:1;
color:#ffffff;
font-size:17;
width:0;
font-family:default;
valign:center;
}
 #imagebutton1 {
width:44;
icon-width:44;
icon-height:44;
height:44;
font-size:10;
icon-background-image:icon_exit.png;
icon-pressed-image:button_image_touch;
icon-text-spacing:3;
}
 #panel1 {
halign:center;
height:0;
weight:1;
layout:vbox;
background:#ffffff;
width:fill;
valign:TOP;
}
 #listviewdefine0 {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel2 {
border-bottom-width:1;
padding-left:12;
padding-right:12;
halign:LEFT;
height:44;
layout:hbox;
background:#FFFFFF;
width:fill;
valign:center;
border-bottom-color:#C7C7C7;
}
 #label1 {
halign:left;
height:wrap;
weight:3;
color:#9B9B9B;
heightWrap:20.0;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #label2 {
halign:center;
height:wrap;
weight:1;
color:#9B9B9B;
heightWrap:20.0;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #label4 {
halign:center;
height:wrap;
weight:1;
color:#9B9B9B;
heightWrap:20.0;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #label3 {
halign:center;
height:wrap;
weight:1;
color:#9B9B9B;
heightWrap:20.0;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #label5 {
halign:center;
height:wrap;
weight:1;
color:#9B9B9B;
heightWrap:20.0;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #panel3 {
border-bottom-width:1;
padding-left:12;
padding-right:12;
halign:LEFT;
height:50;
layout:hbox;
background:#FFFFFF;
width:fill;
valign:center;
border-bottom-color:#C7C7C7;
}
 #panel4 {
halign:center;
height:45;
weight:3;
layout:vbox;
width:0;
valign:TOP;
}
 #label6 {
halign:left;
height:0;
weight:1;
color:#696869;
font-size:14;
width:fill;
font-family:default;
valign:center;
}
 #label11 {
halign:left;
height:0;
weight:1;
color:#9B9B9B;
font-size:12;
width:fill;
font-family:default;
valign:center;
}
 #label7 {
halign:center;
height:wrap;
weight:1;
color:#00a1ea;
heightWrap:20.0;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #label8 {
halign:center;
height:wrap;
weight:1;
color:#00a1ea;
heightWrap:20.0;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #label9 {
halign:center;
height:wrap;
weight:1;
color:#00a1ea;
heightWrap:20.0;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #label10 {
halign:center;
height:wrap;
weight:1;
color:#00a1ea;
heightWrap:20.0;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #toolbar0 {
padding-left:50;
padding-right:50;
halign:CENTER;
height:49;
layout:hbox;
background:#F5F5F5;
width:fill;
valign:top;
}
 #imagebutton2 {
weight:1;
width:0;
icon-width:25;
icon-height:25;
height:fill;
font-size:12;
icon-background-image:tab_home.png;
icon-pressed-image:tab_home_touch.png;
icon-text-spacing:0;
}
 #imagebutton3 {
weight:1;
width:0;
icon-width:25;
icon-height:25;
height:fill;
font-size:12;
icon-background-image:tool_edit.png;
icon-pressed-image:tool_edit_touch.png;
icon-text-spacing:0;
}
 #imagebutton4 {
weight:1;
width:0;
icon-width:25;
icon-height:25;
height:fill;
font-size:12;
icon-background-image:tab_channel.png;
icon-pressed-image:tab_channel_touch.png;
icon-text-spacing:0;
}
 #imagebutton5 {
weight:1;
width:0;
icon-width:25;
icon-height:25;
height:fill;
font-size:12;
icon-background-image:tab_trophy.png;
icon-pressed-image:tab_trophy_touch.png;
icon-text-spacing:0;
}
 #imagebutton6 {
weight:1;
width:0;
icon-width:25;
icon-height:25;
height:fill;
font-size:12;
icon-background-image:tab_subscription.png;
icon-pressed-image:tab_subscription_touch.png;
icon-text-spacing:0;
}
 #imagebutton7 {
weight:1;
width:0;
icon-width:25;
icon-height:25;
height:fill;
font-size:12;
icon-background-image:tab_concact.png;
icon-pressed-image:tab_concact_touch.png;
icon-text-spacing:0;
}
