 #MyCenter {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
background:#F7F8F8;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel0 {
padding-right:8;
padding-left:8;
halign:LEFT;
height:44;
background:#00a1ea;
layout:hbox;
width:fill;
valign:center;
}
 #imagebutton0 {
width:44;
icon-width:44;
icon-height:44;
height:44;
font-size:10;
icon-background-image:icon_home.png;
icon-pressed-image:button_image_touch;
icon-text-spacing:3;
}
 #label0 {
halign:left;
height:20;
weight:1;
color:#ffffff;
font-size:17;
width:0;
font-family:default;
valign:center;
}
 #imagebutton1 {
width:44;
icon-width:44;
icon-height:44;
height:44;
font-size:10;
icon-background-image:icon_exit.png;
icon-pressed-image:button_image_touch;
icon-text-spacing:3;
}
 #panel1 {
halign:CENTER;
height:0;
weight:1;
layout:hbox;
background:#ffffff;
width:fill;
valign:top;
}
 #panel2 {
halign:center;
height:fill;
layout:vbox;
width:200;
valign:TOP;
}
 #panel4 {
padding-right:12;
padding-left:12;
border-bottom-width:1;
halign:LEFT;
height:100;
layout:hbox;
width:fill;
valign:center;
border-bottom-color:#C7C7C7;
}
 #imagebutton8 {
width:44;
icon-width:25;
icon-height:25;
height:44;
font-size:10;
icon-background-image:tab_concact_touch.png;
icon-text-spacing:3;
}
 #label1 {
halign:left;
height:wrap;
weight:1;
color:#696869;
heightWrap:23.0;
font-size:16;
width:0;
margin-left:5;
font-family:default;
valign:center;
}
 #imagebutton9 {
halign:center;
width:fill;
icon-width:25;
icon-height:25;
height:50;
color:#333333;
background:#ffffff;
font-size:14;
icon-background-image:button_image;
icon-pressed-image:button_image_touch;
font-family:default;
valign:center;
icon-text-spacing:3;
}
 #imagebutton10 {
halign:center;
width:fill;
icon-width:25;
icon-height:25;
height:50;
color:#333333;
background:#F8F8F8;
font-size:14;
icon-background-image:button_image;
icon-pressed-image:button_image_touch;
font-family:default;
valign:center;
icon-text-spacing:3;
}
 #panel3 {
halign:center;
height:fill;
weight:1;
layout:vbox;
width:0;
valign:TOP;
}
 #flipperdefine0 {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel5 {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:CENTER;
}
 #panel7 {
padding-left:20;
halign:LEFT;
height:30;
layout:hbox;
width:fill;
valign:center;
}
 #label2 {
halign:right;
height:wrap;
color:#333333;
heightWrap:20.0;
font-size:14;
width:80;
font-family:default;
valign:center;
}
 #label3 {
halign:left;
height:wrap;
widthWrap:45.0;
color:#00a1ea;
heightWrap:20.0;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #panel8 {
padding-left:20;
halign:LEFT;
height:30;
layout:hbox;
width:fill;
valign:center;
}
 #label4 {
halign:right;
height:wrap;
color:#333333;
heightWrap:20.0;
font-size:14;
width:80;
font-family:default;
valign:center;
}
 #label5 {
halign:left;
height:wrap;
widthWrap:88.0;
color:#00a1ea;
heightWrap:20.0;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #panel9 {
padding-left:20;
halign:LEFT;
height:30;
layout:hbox;
width:fill;
valign:center;
}
 #label6 {
halign:right;
height:wrap;
color:#333333;
heightWrap:20.0;
font-size:14;
width:80;
font-family:default;
valign:center;
}
 #label7 {
halign:left;
height:wrap;
widthWrap:80.0;
color:#00a1ea;
heightWrap:20.0;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #panel10 {
padding-left:20;
halign:LEFT;
height:30;
layout:hbox;
width:fill;
valign:center;
}
 #label8 {
halign:right;
height:wrap;
color:#333333;
heightWrap:20.0;
font-size:14;
width:80;
font-family:default;
valign:center;
}
 #label9 {
halign:left;
height:wrap;
widthWrap:137.0;
color:#00a1ea;
heightWrap:20.0;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #panel6 {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:CENTER;
}
 #panel11 {
padding-left:20;
halign:LEFT;
height:30;
layout:hbox;
width:fill;
valign:center;
}
 #label10 {
halign:right;
height:wrap;
color:#333333;
heightWrap:20.0;
font-size:14;
width:80;
font-family:default;
valign:center;
}
 #label11 {
halign:left;
height:wrap;
widthWrap:40.0;
color:#00a1ea;
heightWrap:20.0;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #panel12 {
padding-left:20;
halign:LEFT;
height:30;
layout:hbox;
width:fill;
valign:center;
}
 #label12 {
halign:right;
height:wrap;
color:#333333;
heightWrap:20.0;
font-size:14;
width:80;
font-family:default;
valign:center;
}
 #label13 {
halign:left;
height:wrap;
widthWrap:48.0;
color:#00a1ea;
heightWrap:20.0;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #panel13 {
padding-left:20;
halign:LEFT;
height:30;
layout:hbox;
width:fill;
valign:center;
}
 #label14 {
halign:right;
height:wrap;
color:#333333;
heightWrap:20.0;
font-size:14;
width:80;
font-family:default;
valign:center;
}
 #label15 {
halign:left;
height:wrap;
widthWrap:48.0;
color:#00a1ea;
heightWrap:20.0;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #panel14 {
padding-left:20;
halign:LEFT;
height:30;
layout:hbox;
width:fill;
valign:center;
}
 #label16 {
halign:right;
height:wrap;
color:#333333;
heightWrap:20.0;
font-size:14;
width:80;
font-family:default;
valign:center;
}
 #label17 {
halign:left;
height:wrap;
widthWrap:48.0;
color:#00a1ea;
heightWrap:20.0;
font-size:14;
width:wrap;
font-family:default;
valign:center;
}
 #toolbar0 {
padding-left:50;
padding-right:50;
halign:CENTER;
height:49;
layout:hbox;
background:#F5F5F5;
width:fill;
valign:top;
}
 #imagebutton2 {
weight:1;
width:0;
icon-width:25;
icon-height:25;
height:fill;
font-size:12;
icon-background-image:tab_home.png;
icon-pressed-image:tab_home_touch.png;
icon-text-spacing:0;
}
 #imagebutton3 {
weight:1;
width:0;
icon-width:25;
icon-height:25;
height:fill;
font-size:12;
icon-background-image:tool_edit.png;
icon-pressed-image:tool_edit_touch.png;
icon-text-spacing:0;
}
 #imagebutton4 {
weight:1;
width:0;
icon-width:25;
icon-height:25;
height:fill;
font-size:12;
icon-background-image:tab_channel.png;
icon-pressed-image:tab_channel_touch.png;
icon-text-spacing:0;
}
 #imagebutton5 {
weight:1;
width:0;
icon-width:25;
icon-height:25;
height:fill;
font-size:12;
icon-background-image:tab_trophy.png;
icon-pressed-image:tab_trophy_touch.png;
icon-text-spacing:0;
}
 #imagebutton6 {
weight:1;
width:0;
icon-width:25;
icon-height:25;
height:fill;
font-size:12;
icon-background-image:tab_subscription.png;
icon-pressed-image:tab_subscription_touch.png;
icon-text-spacing:0;
}
 #imagebutton7 {
weight:1;
width:0;
icon-width:25;
icon-height:25;
height:fill;
font-size:12;
icon-background-image:tab_concact.png;
icon-pressed-image:tab_concact_touch.png;
icon-text-spacing:0;
}
